<form action="/cart" method="post">
  <button class="btn" type="submit">Add to Cart</button>
  <!-- cuz its a post request so send the data via hidden input fields -->
  <input type="hidden" value="<%= product.id %>" name="productId" />
</form>
