* {
  margin: 0;
  padding: 0;
}
body {
  font-size: medium;
  font-style: sans-serif;
  background-color: rgb(0, 0, 0);
}
.title {
  display: flex;
}
.name {
  align-self: center;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-weight: normal;
}
.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header {
  display: flex;
  grid-column: 1/-1;
  align-items: center;
  justify-content: space-between;
}
.right-arrow {
  width: 90px;
  height: 70px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #c8c8c8;
  font-family: sans-serif;
  font-size: 14px;
  width: 240%;
}
p {
  color: white;
}
.
